# What is Jupyter Notebook?

#### Notebook document
Notebook documents (or “notebooks”, all lower case) are documents produced by the Jupyter Notebook App, which contain both computer code (e.g. python) and rich text elements (paragraph, equations, figures, links, etc…). Notebook documents are both human-readable documents containing the analysis description and the results (figures, tables, etc..) as well as executable documents which can be run to perform data analysis.

#### Jupyter Notebook App
The Jupyter Notebook App is a server-client application that allows editing and running notebook documents via a web browser. The Jupyter Notebook App can be executed on a local desktop requiring no internet access (as described in this document) or can be installed on a remote server and accessed through the internet.

In addition to displaying/editing/running notebook documents, the Jupyter Notebook App has a “Dashboard” (Notebook Dashboard), a “control panel” showing local files and allowing to open notebook documents or shutting down their kernels.

#### Kernel
A notebook kernel is a “computational engine” that executes the code contained in a Notebook document. The ipython kernel, referenced in this guide, executes python code. Kernels for many other languages exist (official kernels).

When you open a Notebook document, the associated kernel is automatically launched. When the notebook is executed (either cell-by-cell or with menu Cell -> Run All), the kernel performs the computation and produces the results. Depending on the type of computations, the kernel may consume significant CPU and RAM. Note that the RAM is not released until the kernel is shut-down.

#### Notebook
The Notebook Dashboard is the component which is shown first when you launch Jupyter Notebook App. The Notebook Dashboard is mainly used to open notebook documents, and to manage the running kernels (visualize and shutdown).

The Notebook Dashboard has other features similar to a file manager, namely navigating folders and renaming/deleting files.

# What is Pandas?

Pandas is a package commonly used to deal with data analysis. It simplifies the loading of data from external sources such as text files and databases, as well as providing ways of analysing and manipulating data once it is loaded into your computer. The features provided in pandas automate and simplify a lot of the common tasks that would take many lines of code to write in the basic Python langauge.

#### Pandas can work with the following
* Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet.
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels.
* Any other form of observational / statistical data sets. The data actually need not be labelled at all to be placed into a pandas data structure.

#### Pandas Data Structures
##### Series
* A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index. The simplest Series is formed from only an array of data

##### Dataframe
* A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).
* The DataFrame has both a row and column index; it can be thought of as a dict of Series (one for all sharing the same index).

# What is Requests?

Requests is an Apache2 Licensed HTTP library, written in Python. It is designed to be used by humans to interact with the language. This means you don’t have to manually add query strings to URLs, or form-encode your POST data. Don’t worry if that made no sense to you. It will in due time.

#### What can Requests do?

Requests will allow you to send HTTP/1.1 requests using Python. With it, you can add content like headers, form data, multipart files, and parameters via simple Python libraries. It also allows you to access the response data of Python in the same way.

In programming, a library is a collection or pre-configured selection of routines, functions, and operations that a program can use. These elements are often referred to as modules, and stored in object format.

# What is BeautifulSoup?

BeautifulSoup is a third party Python library from Crummy.

The library is designed for quick turnaround projects like screen-scraping.

#### What can Beautiful Soup do?
Beautiful Soup parses anything you give it and does the tree traversal
stuff for you. 

You can use it to find all the links of a website

Find all the links whose urls match "foo.com"

Find the table heading that’s got bold text, then give me that text.

Find every "a" element that has an href attribute etc.

# Loading Libraries

In [208]:
import pandas as pd
import requests
import zipfile
from bs4 import BeautifulSoup
from urllib.request import urlopen

## Data downloaded from the source website using web scraping

We perform web scraping to download data from a website using Beautiful Soup and Requests

In [209]:
url = "https://www.bjs.gov/index.cfm?ty=pbdetail&iid=6187"
page = urlopen(url)

# Download the page as an HTML file
soup = BeautifulSoup(page, "html.parser")

In [210]:
# Find all paragraph tags
all_paragraphs = soup.find_all('p')

In [211]:
# Iterating through all the paragraph tags 

i = 0
for paragraph in all_paragraphs:
    i += 1
    print(paragraph)
    print("paragraph number %d" % (i))
    print("*********************************************************************************")
    print(" ")

<p>E. Ann Carson, Ph.D., <em>BJS Statistician</em></p>
paragraph number 1
*********************************************************************************

<p>January 9, 2018    NCJ 251149</p>
paragraph number 2
*********************************************************************************

<p><p>Presents final counts of prisoners under the jurisdiction of state and federal correctional authorities at year-end 2016, including admissions, releases, noncitizen inmates, and inmates age 17 or younger. The report describes prisoner populations by jurisdiction, most serious offense, and demographic characteristics. Selected findings on prison capacity and prisoners held in private prisons, local jails, the U.S. military, and U.S. territories are also included. Findings are based on data from BJS's National Prisoner Statistics program, which collects data from state departments of correction and the Federal Bureau of Prisons.</p></p>
paragraph number 3
*********************************************************************************

<p>Presents final counts of prisoners under the jurisdiction of state and federal correctional authorities at year-end 2016, including admissions, releases, noncitizen inmates, and inmates age 17 or younger. The report describes prisoner populations by jurisdiction, most serious offense, and demographic characteristics. Selected findings on prison capacity and prisoners held in private prisons, local jails, the U.S. military, and U.S. territories are also included. Findings are based on data from BJS's National Prisoner Statistics program, which collects data from state departments of correction and the Federal Bureau of Prisons.</p>
paragraph number 4
*********************************************************************************

<p>Highlights:</p>
paragraph number 5
*********************************************************************************

<p><i>Part of the <a href="index.cfm?ty=pbse&amp;sid=40">Prisoners Series</a></i></p>
paragraph number 6
*********************************************************************************

<p><a href="/content/pub/press/p16pr.cfm">Press Release</a> <br/><a href="/content/pub/pdf/p16_sum.pdf">Summary</a> (PDF 205K)<br/><a href="/content/pub/pdf/p16.pdf">Full report</a> (PDF 1M)<br/><a href="/content/pub/sheets/p16.zip">Comma-delimited format (CSV)</a> (Zip format 40K)</p>
paragraph number 7
*********************************************************************************

<p><a href="/content/help.cfm">Help for using BJS products</a></p>
paragraph number 8
*********************************************************************************

<p>To cite this product, use the following link:<br><a href="http://www.bjs.gov/index.cfm?ty=pbdetail&amp;iid=6187">http://www.bjs.gov/index.cfm?ty=pbdetail&amp;iid;=6187</a></br></p>
paragraph number 9
*********************************************************************************

<p><a href="/latestreleases.cfm">View All Publications and Products</a></p>
paragraph number 10
*********************************************************************************

<p><a href="/index.cfm?ty=abu">About Us</a></p>
paragraph number 11
*********************************************************************************

<p><a href="/content/pub/pdf/BJS_Data_Protection_Guidelines.pdf">BJS Data Protection Guidelines</a></p>
paragraph number 12
*********************************************************************************

<p><a href="/content/dataquality/dataquality.cfm">BJS Data Quality Guidelines</a></p>
paragraph number 13
*********************************************************************************

<p><a href="/index.cfm?ty=pri">BJS Statistical Principles and Practices</a></p>
paragraph number 14
*********************************************************************************

<p><a href="/content/jobs.cfm">Jobs</a></p>
paragraph number 15
*********************************************************************************

<p><a href="https://www.justice.gov/legalpolicies">Legal Policies and Disclaimers</a></p>
paragraph number 16
*********************************************************************************

<p><a href="https://ojp.gov/about/foia/foia.htm" target="_blank">OJP Freedom of Information Act</a></p>
paragraph number 17
*********************************************************************************

<p><a href="https://www.justice.gov/doj/privacy-policy">Privacy Policy</a></p>
paragraph number 18
*********************************************************************************

<p><a href="/content/scientificintegrity.pdf">Scientific Integrity Statement</a></p>
paragraph number 19
*********************************************************************************

<p><a href="/index.cfm?ty=atoz">A-Z Topical Index</a></p>
paragraph number 20
*********************************************************************************

<p><a href="/Announcement_Archive.cfm">Announcement Archive</a></p>
paragraph number 21
*********************************************************************************

<p><a href="/latestreleases.cfm">Data and Product Finder</a></p>
paragraph number 22
*********************************************************************************

<p><a href="https://www.justice.gov/">Department of Justice</a></p>
paragraph number 23
*********************************************************************************

<p><a href="/index.cfm?ty=qaa">FAQ</a></p>
paragraph number 24
*********************************************************************************

<p><a href="/help/index.cfm">Help</a></p>
paragraph number 25
*********************************************************************************

<p><a href="/index.cfm?ty=rla">Related Links</a></p>
paragraph number 26
*********************************************************************************

<p><a href="/index.cfm?ty=smp">Site Map</a></p>
paragraph number 27
*********************************************************************************

<p><a href="/index.cfm?ty=tda">Terms and Definitions</a></p>
paragraph number 28
*********************************************************************************

<p><a href="https://www.crimesolutions.gov/">Crime SOLUTIONS.gov</a></p>
paragraph number 29
*********************************************************************************

<p><a href="https://www.fbi.gov">Federal Bureau of Investigation</a></p>
paragraph number 30
*********************************************************************************

<p><a href="/fjsrc/">Federal Justice Statistics Resource Center</a></p>
paragraph number 31
*********************************************************************************

<p><a href="https://www.icpsr.umich.edu/icpsrweb/content/NACJD/index.html">National Archive of Criminal Justice Data (NACJD)</a></p>
paragraph number 32
*********************************************************************************

<p> </p>
paragraph number 33
*********************************************************************************

<p><a href="/index.cfm?ty=rss">BJS RSS Feed</a></p>
paragraph number 34
*********************************************************************************

<p><a href="/index.cfm?ty=contactus">Contact Us</a></p>
paragraph number 35
*********************************************************************************

<p><a href="/index.cfm?ty=signup">Subscribe to "JUSTSTATS"</a></p>
paragraph number 36
*********************************************************************************

<p> <p></p>
<div class="footer_date">
                        Page last revised on 10/24/2018
                    </div>
</p>
paragraph number 37
*********************************************************************************

<p></p>
paragraph number 38
*********************************************************************************

In [212]:
# Getting the 8th paragraph from the HTML page and then append all the 'a' tags into a list
i = 0
links = []
for paragraph in all_paragraphs:
    i += 1
    if i == 7:
        for a in paragraph.find_all('a'):
            print(a['href'])
            links.append(a['href'])

# Download the actual source data from the website            
downloadString = "https://www.bjs.gov" + links[3]
r = requests.get(downloadString,allow_redirects=True)

# Save the downloaded files into a zip file
open('downloads.zip', 'wb').write(r.content)

/content/pub/press/p16pr.cfm
/content/pub/pdf/p16_sum.pdf
/content/pub/pdf/p16.pdf
/content/pub/sheets/p16.zip

40773

In [213]:
# Unzip the downloaded zip file into the constituent files
zip_ref = zipfile.ZipFile("downloads.zip", 'r')
zip_ref.extractall('LoveDataWeekFilesScraping')
zip_ref.close()

# From this point onwards we will be working with the already downloaded and relatively cleaned data

## Working with downloaded files

In [224]:
# Read all csv files from the folder LoveDataWeekFiles
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir('LoveDataWeekFiles') if isfile(join('LoveDataWeekFiles', f))]

In [227]:
# fileData here is a list of dataframes
fileData = []
for file in onlyfiles:
    if '.csv' in file:
        print(file)
        path = 'LoveDataWeekFiles/' + file
        fileData.append(pd.read_csv(path, encoding='latin1'))
    if '.tsv' in file:
        print(file)
        path = 'LoveDataWeekFiles/' + file
        fileData.append(pd.read_csv(path, encoding='latin1', sep='\t'))

1860-slavery-data.csv
2015-jaildata.csv
popnumb.csv
Prison-Data.tsv

####  Details of the data downloaded
* fileData[0] = 1860-slavery-data.csv
* fileData[1] = 2015-jaildata.csv
* fileData[2] = popnumb.csv
* fileData[3] = Prison-Data.csv

#### Working with slavery data

* <b>Selecting specific subset of columns from the slavery dataframe</b>

In [220]:
slaveryRaw = fileData[0].loc[:,['Column 1','Column 2', 'Column 3','Column 5','Column 373','Column 38','Column 39', 'Column 40','Column 71', 'Column 72', 'Column 73','Column 104','Column 105','Column 106','Column 243','Column 244','Column 245','Column 246','Column 247','Column 248','Column 249','Column 250','Column 251','Column 252','Column 253','Column 254','Column 255','Column 256','Column 257','Column 258','Column 259','Column 260','Column 261','Column 262','Column 263','Column 264','Column 265','Column 275','Column 276']]
slaveryRaw.head()

,Column 1,Column 2,Column 3,Column 5,Column 373,Column 38,Column 39,Column 40,Column 71,Column 72,...,Column 258,Column 259,Column 260,Column 261,Column 262,Column 263,Column 264,Column 265,Column 275,Column 276
0,S,860,1,CONNECTICUT,0,221851,229653,451504,4136,4491,...,-1,-1,-1,-1,-1,-1,-1,-1,94831,460147
1,C,860,1,FAIRFIELD,10,36614,39186,75800,790,886,...,-1,-1,-1,-1,-1,-1,-1,-1,16102,77476
2,C,860,1,HARTFORD,30,43766,44877,88643,671,648,...,-1,-1,-1,-1,-1,-1,-1,-1,17927,89962
3,C,860,1,LITCHFIELD,50,23001,23206,46207,577,534,...,-1,-1,-1,-1,-1,-1,-1,-1,9701,47318
4,C,860,1,MIDDLESEX,70,14771,15751,30522,153,184,...,-1,-1,-1,-1,-1,-1,-1,-1,7068,30859

* <b>Renaming the columns for better understanding and ease of working</b>

In [222]:
slaveryRaw.columns = ['CountyState','Year','StateCode','NameStateCounty','CountyID','WhiteMales','WhiteFemales','AggrWhites','FreeColoredMales','FreeColoredFemales','AggrColored','MaleSlaves','FemaleSlaves','AggrSlaves','OneSlave','TwoSlaves','ThreeSlaves','FourSlaves','FiveSlaves','SixSlaves','SevenSlaves','EigthSlaves','NineSlaves','TenFourSlaves','FifteenNineSlaves','TwentyNineSlaves','ThirtyNineSlaves','FortyNineSlaves','FiftySixNineSlaves','SeventyNineSlaves','OneHundSlaves','TwoHundSlaves','ThreeHundSlaves','OneThouSlaves','GreaterSlaves','TotalSlaveholders','TotalSlaves','Families','TotalFree']
slaveryRaw.head()

,CountyState,Year,StateCode,NameStateCounty,CountyID,WhiteMales,WhiteFemales,AggrWhites,FreeColoredMales,FreeColoredFemales,...,SeventyNineSlaves,OneHundSlaves,TwoHundSlaves,ThreeHundSlaves,OneThouSlaves,GreaterSlaves,TotalSlaveholders,TotalSlaves,Families,TotalFree
0,S,860,1,CONNECTICUT,0,221851,229653,451504,4136,4491,...,-1,-1,-1,-1,-1,-1,-1,-1,94831,460147
1,C,860,1,FAIRFIELD,10,36614,39186,75800,790,886,...,-1,-1,-1,-1,-1,-1,-1,-1,16102,77476
2,C,860,1,HARTFORD,30,43766,44877,88643,671,648,...,-1,-1,-1,-1,-1,-1,-1,-1,17927,89962
3,C,860,1,LITCHFIELD,50,23001,23206,46207,577,534,...,-1,-1,-1,-1,-1,-1,-1,-1,9701,47318
4,C,860,1,MIDDLESEX,70,14771,15751,30522,153,184,...,-1,-1,-1,-1,-1,-1,-1,-1,7068,30859

#### Removing white spaces from the country names

In [411]:
slaveryRaw['NameStateCounty'] = slaveryRaw['NameStateCounty'].str.strip()

* <b>Performing a sanity check on the data</b>

In [223]:
slaveryRaw[(slaveryRaw['CountyState'] == 'S')]

,CountyState,Year,StateCode,NameStateCounty,CountyID,WhiteMales,WhiteFemales,AggrWhites,FreeColoredMales,FreeColoredFemales,...,SeventyNineSlaves,OneHundSlaves,TwoHundSlaves,ThreeHundSlaves,OneThouSlaves,GreaterSlaves,TotalSlaveholders,TotalSlaves,Families,TotalFree
0,S,860,1,CONNECTICUT,0,221851,229653,451504,4136,4491,...,-1,-1,-1,-1,-1,-1,-1,-1,94831,460147
17,S,860,2,MAINE,0,316527,310420,626947,659,668,...,-1,-1,-1,-1,-1,-1,-1,-1,120863,628279
34,S,860,3,MASSACHUSETTS,0,592231,629201,1221432,4469,5133,...,-1,-1,-1,-1,-1,-1,-1,-1,251287,1231066
48,S,860,4,NEW HAMPSHIRE,0,159563,166016,325579,253,241,...,-1,-1,-1,-1,-1,-1,-1,-1,69018,326073
56,S,860,5,RHODE ISLAND,0,82294,88355,170649,1831,2121,...,-1,-1,-1,-1,-1,-1,-1,-1,35209,174620
69,S,860,6,VERMONT,0,158406,155963,314369,371,338,...,-1,-1,-1,-1,-1,-1,-1,-1,63781,315098
73,S,860,11,DELAWARE,0,45940,44649,90589,9889,9940,...,0,0,0,0,0,0,587,1798,18966,110418
91,S,860,12,NEW JERSEY,0,322733,323966,646699,12312,13006,...,-1,-1,-1,-1,-1,-1,-1,-1,130348,672017
128,S,860,13,NEW YORK,0,1910279,1921311,3831590,23178,25827,...,-1,-1,-1,-1,-1,-1,-1,-1,758420,3880735
207,S,860,14,PENNSYLVANIA,0,1427943,1421316,2849259,26473,30476,...,-1,-1,-1,-1,-1,-1,-1,-1,524558,2906215
263,S,860,21,ILLINOIS,0,898941,805350,1704291,3809,3819,...,-1,-1,-1,-1,-1,-1,-1,-1,315539,1711951
364,S,860,22,INDIANA,0,693348,645362,1338710,5791,5637,...,-1,-1,-1,-1,-1,-1,-1,-1,248664,1350428
463,S,860,23,MICHIGAN,0,388006,348136,736142,3567,3232,...,-1,-1,-1,-1,-1,-1,-1,-1,144761,749113
546,S,860,24,OHIO,0,1171698,1131110,2302808,18442,18231,...,-1,-1,-1,-1,-1,-1,-1,-1,434134,2339511
631,S,860,25,WISCONSIN,0,406309,367384,773693,653,518,...,-1,-1,-1,-1,-1,-1,-1,-1,147473,775881
681,S,860,31,IOWA,0,353900,319879,673779,566,503,...,-1,-1,-1,-1,-1,-1,-1,-1,124098,674913
755,S,860,32,KANSAS,0,58806,47584,106390,286,339,...,0,0,0,0,0,0,2,2,21912,107204
811,S,860,33,MINNESOTA,0,91704,77691,169395,126,133,...,-1,-1,-1,-1,-1,-1,-1,-1,37319,172023
907,S,860,34,MISSOURI,0,563131,500358,1063489,1697,1875,...,8,4,0,0,0,0,24320,114931,192073,1067081
978,S,860,35,NEBRASKA,0,16689,12007,28696,35,32,...,0,0,0,0,0,0,6,15,5931,28826
1126,S,860,40,VIRGINIA,0,528842,518457,1047299,27721,30321,...,243,105,8,1,0,0,52128,490865,201523,1105453
1140,S,860,41,ALABAMA,0,270190,256081,526271,1254,1436,...,550,312,24,10,0,0,33730,435080,96603,529121
1194,S,860,42,ARKANSAS,0,171477,152666,324143,72,72,...,118,59,6,0,1,0,11481,111115,57244,324335
1258,S,860,43,FLORIDA,0,41128,36619,77747,454,478,...,42,45,2,0,0,0,5152,61745,15090,78679
1337,S,860,44,GEORGIA,0,301066,290484,591550,1669,1831,...,373,181,23,7,1,0,41084,462198,109919,595088
1443,S,860,45,LOUISIANA,0,189648,167808,357456,8279,10368,...,469,460,63,20,4,0,22033,331726,74725,376276
1505,S,860,46,MISSISSIPPI,0,186273,167626,353899,372,401,...,545,279,28,8,1,0,30943,436631,63015,354674
1589,S,860,47,NORTH CAROLINA,0,313670,316272,629942,14880,15583,...,188,118,11,4,0,0,34658,331059,125090,661563
1644,S,860,48,SOUTH CAROLINA,0,146160,145140,291300,4548,5366,...,487,363,56,22,7,1,26701,402406,58642,301302
1782,S,860,49,TEXAS,0,228585,192306,420891,181,174,...,88,52,2,0,0,0,21878,182566,76781,421649
1858,S,860,51,KENTUCKY,0,474193,445291,919484,5101,5583,...,12,6,1,0,0,0,38645,225483,166321,930201
1926,S,860,52,MARYLAND,0,256839,259079,515918,39746,44196,...,24,15,0,1,0,0,13783,87189,110278,599860
2009,S,860,54,TENNESSEE,0,422779,403943,826722,3538,3762,...,116,40,6,1,0,0,36844,275719,149335,834082
2023,S,860,65,NEVADA,0,6102,710,6812,35,10,...,-1,-1,-1,-1,-1,-1,-1,-1,2027,6857
2029,S,860,71,CALIFORNIA,0,226774,96403,323177,2827,1259,...,-1,-1,-1,-1,-1,-1,-1,-1,98767,379994
2083,S,860,72,OREGON,0,31451,20709,52160,76,52,...,-1,-1,-1,-1,-1,-1,-1,-1,11063,52465

#### Updating values in columns which are negative

In [405]:
for column in slaveryRaw:
    slaveryRaw.loc[(slaveryRaw[column]== -1) | (slaveryRaw[column]== -2) | (slaveryRaw[column]== -8) | (slaveryRaw[column]== -9),column] = 0

In [407]:
print(slaveryRaw.columns)
slaveryRaw.head()

Index(['CountyState', 'Year', 'StateCode', 'NameStateCounty', 'CountyID',
       'WhiteMales', 'WhiteFemales', 'AggrWhites', 'FreeColoredMales',
       'FreeColoredFemales', 'AggrColored', 'MaleSlaves', 'FemaleSlaves',
       'AggrSlaves', 'OneSlave', 'TwoSlaves', 'ThreeSlaves', 'FourSlaves',
       'FiveSlaves', 'SixSlaves', 'SevenSlaves', 'EigthSlaves', 'NineSlaves',
       'TenFourSlaves', 'FifteenNineSlaves', 'TwentyNineSlaves',
       'ThirtyNineSlaves', 'FortyNineSlaves', 'FiftySixNineSlaves',
       'SeventyNineSlaves', 'OneHundSlaves', 'TwoHundSlaves',
       'ThreeHundSlaves', 'OneThouSlaves', 'GreaterSlaves',
       'TotalSlaveholders', 'TotalSlaves', 'Families', 'TotalFree'],
      dtype='object')

,CountyState,Year,StateCode,NameStateCounty,CountyID,WhiteMales,WhiteFemales,AggrWhites,FreeColoredMales,FreeColoredFemales,...,SeventyNineSlaves,OneHundSlaves,TwoHundSlaves,ThreeHundSlaves,OneThouSlaves,GreaterSlaves,TotalSlaveholders,TotalSlaves,Families,TotalFree
0,S,860,1,CONNECTICUT,0,221851,229653,451504,4136,4491,...,0,0,0,0,0,0,0,0,94831,460147
1,C,860,1,FAIRFIELD,10,36614,39186,75800,790,886,...,0,0,0,0,0,0,0,0,16102,77476
2,C,860,1,HARTFORD,30,43766,44877,88643,671,648,...,0,0,0,0,0,0,0,0,17927,89962
3,C,860,1,LITCHFIELD,50,23001,23206,46207,577,534,...,0,0,0,0,0,0,0,0,9701,47318
4,C,860,1,MIDDLESEX,70,14771,15751,30522,153,184,...,0,0,0,0,0,0,0,0,7068,30859

#### Working with general population data

In [229]:
populationData = fileData[2]
populationData.head()

            ID       STATE STATECODE    TOTPOP
0  0400000US01     Alabama        AL   4858979
1  0400000US02      Alaska        AK    738432
2  0400000US04     Arizona        AZ   6828065
3  0400000US05    Arkansas        AR   2978204
4  0400000US06  California        CA  39144818

* <b>Converting the State column values into uppercase</b>

In [231]:
populationData['STATE'] = populationData['STATE'].str.upper()
populationData.head()

            ID       STATE STATECODE    TOTPOP
0  0400000US01     ALABAMA        AL   4858979
1  0400000US02      ALASKA        AK    738432
2  0400000US04     ARIZONA        AZ   6828065
3  0400000US05    ARKANSAS        AR   2978204
4  0400000US06  CALIFORNIA        CA  39144818

#### Working with prison data

In [235]:
prisonDataRaw = fileData[3]
prisonDataRaw.head()

,YEAR,STATEID,STATE,REGION,CUSGT1M,CUSGT1F,CUSLT1M,CUSLT1F,CUSUNSM,CUSUNSF,...,DTHHOMOM,DTHHOMOF,DTHPERSM,DTHPERSF,DTHOTHM,DTHOTHF,DTHTOTM,DTHTOTF,HANDLEM,HANDLEF
0,1978,1,AL,3,-2,-2,-2,-2,-2,-2,...,-1,-1,6,0,0,0,-1,-1,-9,-9
1,1978,2,AK,4,-2,-2,-2,-2,-2,-2,...,-1,-1,0,0,0,0,-1,-1,-9,-9
2,1978,4,AZ,4,-2,-2,-2,-2,-2,-2,...,-1,-1,5,0,0,0,-1,-1,-9,-9
3,1978,5,AR,3,-2,-2,-2,-2,-2,-2,...,-1,-1,0,0,0,0,-1,-1,-9,-9
4,1978,6,CA,4,-2,-2,-2,-2,-2,-2,...,-1,-1,0,0,43,1,-1,-1,-9,-9

#### Getting a subset of the data which is of use to us

In [262]:
prisonDataSubset = prisonDataRaw.loc[:,['YEAR','STATE','STATEID','REGION','CUSLT18F','CUSLT18M','BLACK','BLACKM','BLACKF','HISP','HISPM','HISPF','WHITE','WHITEM','WHITEF','ASIAN','ASIANM','ASIANF','AIAN','AIANM','AIANF','NHOPI','NHPIM','NHPIF','OTHERRACE','ADDRACEM','ADDRACEF','TWORACE','TWORACEM','TWORACEF','RACEDK','UNKRACEM','UNKRACEF','NONCITZ','CUSCTZNM','CUSCTZNF','ADMIS','ADTOTM','ADTOTF','CONFPOP','CUSTOTM','CUSTOTF','RELEASE','RLTOTF','RLTOTM','CONV','CUSUNSM','CUSUNSF']]
print(prisonDataSubset.columns)
prisonDataSubset.head()

Index(['YEAR', 'STATE', 'STATEID', 'REGION', 'CUSLT18F', 'CUSLT18M', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RLTOTF', 'RLTOTM', 'CONV',
       'CUSUNSM', 'CUSUNSF'],
      dtype='object')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,YEAR,STATE,STATEID,REGION,CUSLT18F,CUSLT18M,BLACK,BLACKM,BLACKF,HISP,...,ADTOTF,CONFPOP,CUSTOTM,CUSTOTF,RELEASE,RLTOTF,RLTOTM,CONV,CUSUNSM,CUSUNSF
0,1978,AL,1,3,-1,-1,NaN,3116,158,NaN,...,184,NaN,-2,-2,NaN,161,2823,NaN,-2,-2
1,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,10,NaN,-2,-2,NaN,9,313,NaN,-2,-2
2,1978,AZ,4,4,-1,-1,NaN,641,42,NaN,...,134,NaN,-2,-2,NaN,141,1546,NaN,-2,-2
3,1978,AR,5,3,-1,-1,NaN,1304,49,NaN,...,107,NaN,-2,-2,NaN,107,1801,NaN,-2,-2
4,1978,CA,6,4,-1,-1,NaN,6743,379,NaN,...,725,NaN,-2,-2,NaN,549,9658,NaN,-2,-2

#### Adding new columns to help us match the data with the jail data for future use

In [263]:
prisonDataSubset['RTIID'] = 'NA'
prisonDataSubset['NAME'] = 'NA'
prisonDataSubset['CITY'] = 'NA'
prisonDataSubset['ZIP'] = 'NA'
prisonDataSubset['CNTYCODE'] = 'NA'
prisonDataSubset['FELONY'] = 'NA'
prisonDataSubset['MISD'] = 'NA'
prisonDataSubset['UNCONV'] = 'NA'
prisonDataSubset['WEEKN'] = 'NA'
prisonDataSubset['STATEABBR'] = 'NA'
print(prisonDataSubset.columns)

Index(['YEAR', 'STATE', 'STATEID', 'REGION', 'CUSLT18F', 'CUSLT18M', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RLTOTF', 'RLTOTM', 'CONV',
       'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP', 'CNTYCODE',
       'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'STATEABBR'],
      dtype='object')

#### Renaming a few columns to make them match with the jail data

In [264]:
prisonDataSubset = prisonDataSubset.rename(columns={'RLTOTF' : 'RELEASEF','RLTOTM' : 'RELEASEM'})
prisonDataSubset = prisonDataSubset.rename(columns={'CUSLT18F' : 'JUVF', 'CUSLT18M' : 'JUVM'})
print(prisonDataSubset.columns)
prisonDataSubset.head()

Index(['YEAR', 'STATE', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK', 'BLACKM',
       'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM', 'WHITEF',
       'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF', 'NHOPI', 'NHPIM',
       'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF', 'TWORACE', 'TWORACEM',
       'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF', 'NONCITZ', 'CUSCTZNM',
       'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF', 'CONFPOP', 'CUSTOTM',
       'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM', 'CONV', 'CUSUNSM',
       'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP', 'CNTYCODE', 'FELONY', 'MISD',
       'UNCONV', 'WEEKN', 'STATEABBR'],
      dtype='object')

,YEAR,STATE,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,RTIID,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATEABBR
0,1978,AL,1,3,-1,-1,NaN,3116,158,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,1978,AZ,4,4,-1,-1,NaN,641,42,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,1978,AR,5,3,-1,-1,NaN,1304,49,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,1978,CA,6,4,-1,-1,NaN,6743,379,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

#### Setting the STATEABBR column equal to STATE

In [265]:
prisonDataSubset['STATEABBR'] = prisonDataSubset['STATE']
prisonDataSubset.head()

,YEAR,STATE,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,RTIID,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATEABBR
0,1978,AL,1,3,-1,-1,NaN,3116,158,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,AL
1,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,AK
2,1978,AZ,4,4,-1,-1,NaN,641,42,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,AZ
3,1978,AR,5,3,-1,-1,NaN,1304,49,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,AR
4,1978,CA,6,4,-1,-1,NaN,6743,379,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,CA

#### We can notice that the STATE column does not contain the complete name of the states. We would like to update this information. In order to do that, we will perform a join between the populationData and prisonDataSubset by joining on columns STATEABBR and STATECODE.

##### In order to find the respective column names, we add suffixes to the names of the dataframe columns
* prisonDataSubset columns will contain the suffix _prison
* populationData columns will contain the suffix _population

##### Note the syntax of the join command:
* set_index() - This function sets the index values to be used while performing the joins between two dataframes because dataframe joins need a key column to work with.

* Since we set 'STATEABBR' and 'STATECODE' as indices, they will be removed from the main dataframes, merged and will be used instead as an index for the resulting dataframe

In [266]:
prisonDataSubset = prisonDataSubset.set_index('STATEABBR').join(populationData.set_index('STATECODE'),lsuffix='_prison', rsuffix='_population')
print(prisonDataSubset.columns)
prisonDataSubset.head()

Index(['YEAR', 'STATE_prison', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM',
       'CONV', 'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP',
       'CNTYCODE', 'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'ID',
       'STATE_population', 'TOTPOP'],
      dtype='object')

,YEAR,STATE_prison,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,ID,STATE_population,TOTPOP
AK,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,0400000US02,ALASKA,738432.0
AK,1979,AK,2,4,-1,-1,NaN,81,7,NaN,...,NA,NA,NA,NA,NA,NA,NA,0400000US02,ALASKA,738432.0
AK,1980,AK,2,4,-1,-1,NaN,89,5,NaN,...,NA,NA,NA,NA,NA,NA,NA,0400000US02,ALASKA,738432.0
AK,1981,AK,2,4,-1,-1,NaN,126,13,NaN,...,NA,NA,NA,NA,NA,NA,NA,0400000US02,ALASKA,738432.0
AK,1982,AK,2,4,-1,-1,NaN,91,3,NaN,...,NA,NA,NA,NA,NA,NA,NA,0400000US02,ALASKA,738432.0

#### Removing extra columns from the resulting dataframe

In [267]:
prisonDataSubset = prisonDataSubset.drop(columns=['ID','TOTPOP'])
print(prisonDataSubset.columns)
prisonDataSubset.head()

Index(['YEAR', 'STATE_prison', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM',
       'CONV', 'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP',
       'CNTYCODE', 'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'STATE_population'],
      dtype='object')

,YEAR,STATE_prison,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,RTIID,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATE_population
AK,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
AK,1979,AK,2,4,-1,-1,NaN,81,7,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
AK,1980,AK,2,4,-1,-1,NaN,89,5,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
AK,1981,AK,2,4,-1,-1,NaN,126,13,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
AK,1982,AK,2,4,-1,-1,NaN,91,3,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA

#### Since we have the needed information in the dataframe, we can rename the columns

In [283]:
prisonDataSubset = prisonDataSubset.rename(columns = {'STATE_prison':'STATEABBR', 'STATE_population':'STATE'})
prisonDataSubset = prisonDataSubset.reset_index()
#prisonDataSubset = prisonDataSubset.drop(columns= ['index'])
print(prisonDataSubset.columns)
prisonDataSubset.head()

Index(['YEAR', 'STATEABBR', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM',
       'CONV', 'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP',
       'CNTYCODE', 'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'STATE'],
      dtype='object')

,YEAR,STATEABBR,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,RTIID,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATE
0,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
1,1979,AK,2,4,-1,-1,NaN,81,7,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
2,1980,AK,2,4,-1,-1,NaN,89,5,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
3,1981,AK,2,4,-1,-1,NaN,126,13,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA
4,1982,AK,2,4,-1,-1,NaN,91,3,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA

#### Working with jail data
* Loading the data into an individual dataframe instead of a list of dataframes

In [271]:
jailDataRaw = fileData[1]
jailDataRaw.drop(columns='Unnamed: 0')

,RTIID,GID,JURISID,COUNTY,NAME,YEAR,CITY,STATE,ZIP,STATEFIPS,...,CORRSTAFFF,CORRSTAFFF_FLAG,OTHERSTAFF,OTHERSTAFF_FLAG,OTHERSTAFFM,OTHERSTAFFM_FLAG,OTHERSTAFFF,OTHERSTAFFF_FLAG,TOTALSTAFF,TOTALSTAFF_FLAG
0,10956003,011002002061000000000,11002002,Baldwin County ...,Baldwin County Sheriff's Office ...,2015,Bay Minette,(01) Alabama,36507,1,...,31.0,(0) Reported,28.0,(0) Reported,3.0,(0) Reported,25.0,(0) Reported,119.0,(0) Reported
1,10956005,011004004061000000000,11004004,Bibb County ...,Bibb County Sheriffs Department ...,2015,Brent,(01) Alabama,35034,1,...,6.0,(1) Estimated by respondent,0.0,(0) Reported,0.0,(0) Reported,0.0,(0) Reported,15.0,(1) Estimated by respondent
2,10956016,011015015061000000000,11015015,Cleburne County ...,Cleburne County Sheriffs Office ...,2015,Heflin,(01) Alabama,36264,1,...,5.0,(0) Reported,1.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,16.0,(0) Reported
3,10956023,011022022061000000000,11022022,Cullman County ...,Cullman County Sheriffs Office ...,2015,Cullman,(01) Alabama,35055,1,...,8.0,(0) Reported,15.0,(0) Reported,8.0,(0) Reported,7.0,(0) Reported,42.0,(0) Reported
4,10956029,011028028061000000000,11028028,Etowah County ...,Etowah County Sheriffs Office ...,2015,Gadsden,(01) Alabama,35901,1,...,11.0,(1) Estimated by respondent,23.0,(1) Estimated by respondent,15.0,(1) Estimated by respondent,8.0,(1) Estimated by respondent,84.0,(1) Estimated by respondent
5,10956030,011029029061000000000,11029029,Fayette County ...,Fayette County Sheriffs Office ...,2015,Fayette,(01) Alabama,35555,1,...,6.0,(0) Reported,1.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,12.0,(0) Reported
6,10956036,011035035061000000000,11035035,"Dale County, Henry County, Houston County ...",Houston County Sheriffs Office ...,2015,Dothan,(01) Alabama,36303,1,...,21.0,(0) Reported,11.0,(0) Reported,4.0,(0) Reported,7.0,(0) Reported,74.0,(0) Reported
7,10950037,011037037060000000100,11037037,"Jefferson County, Shelby County ...",Jefferson County Sheriff's Office ...,2015,Birmingham,(01) Alabama,35203,1,...,40.0,(0) Reported,17.0,(0) Reported,3.0,(0) Reported,14.0,(0) Reported,165.0,(0) Reported
8,10956040,011040040061000000000,11040040,Lawrence County ...,Lawrence County Sheriffs Office ...,2015,Moulton,(01) Alabama,35650,1,...,2.0,(0) Reported,5.0,(1) Estimated by respondent,0.0,(0) Reported,5.0,(0) Reported,18.0,(0) Reported
9,10956041,011041041061000000000,11041041,Lee County ...,Lee County Sheriffs Office ...,2015,Opelika,(01) Alabama,36801,1,...,16.0,(0) Reported,13.0,(0) Reported,6.0,(0) Reported,7.0,(0) Reported,68.0,(0) Reported
10,10956043,011043043061000000000,11043043,Lowndes County ...,Lowndes County Sheriffs Office ...,2015,Hayneville,(01) Alabama,36040,1,...,8.0,(0) Reported,2.0,(0) Reported,1.0,(0) Reported,1.0,(0) Reported,18.0,(0) Reported
11,10956045,011045045060000000200,11045045,"Limestone County, Madison County ...",Madison County Sheriffs Office ...,2015,Huntsville,(01) Alabama,35801,1,...,20.0,(1) Estimated by respondent,41.0,(1) Estimated by respondent,23.0,(1) Estimated by respondent,18.0,(1) Estimated by respondent,95.0,(1) Estimated by respondent
12,10956050,011051051061000000000,11051051,Montgomery County ...,Montgomery County Sheriffs Office ...,2015,Montgomery,(01) Alabama,36104,1,...,92.0,(0) Reported,28.0,(0) Reported,6.0,(0) Reported,22.0,(0) Reported,192.0,(0) Reported
13,10956051,011052052061000000000,11052052,"Limestone County, Morgan County ...",Morgan County Sheriffs Office ...,2015,Decatur,(01) Alabama,35601,1,...,37.0,(1) Estimated by respondent,8.0,(0) Reported,8.0,(0) Reported,0.0,(0) Reported,110.0,(1) Estimated by respondent
14,10956056,011057057061000000000,11057057,"Lee County, Russell County ...",Russell County Sheriff's Department ...,2015,Phenix City,(01) Alabama,36869,1,...,22.0,(1) Estimated by respondent,7.0,(1) Estimated by respondent,4.0,(1) Estimated by respondent,3.0,(1) Estimated by respondent,57.0,(1) Estimated by respondent
15,10956058,011059059061000000000,11059059,Shelby County ...,Shelby County Sheriff's Office ...,2015,Columbiana,(01) Alabama,35051,1,...,9.0,(0) Reported,10.0,(0) Reported,4.0,(0) Reported,6.0,(0) Reported,77.0,(0) Reported
16,10956060,011061061061000000000,11061061,Talladega County ...,Talladega County Sheriff's Office/Jail ...,2015,Talladega,(01) Alabama,35161,1,...,10.0,(1) Estimated by respondent,10.0,(0) Reported,2.0,(0) Reported,8.0,(0) Reported,56.0,(0) Reported
17,10956062,011063063061000000000,11063063,Tuscaloosa County ...,Tuscaloosa County Sheriffs Office ...,2015,Tuscaloosa,(01) Alabama,35401,1,...,17.0,(0) Reported,7.0,(0) Reported,0.0,(0) Reported,7.0,(0) Reported,79.0,(0) Reported
18,10956064,011065065061000000000,11065065,Washington County ...,Washington County Sheriffs Office ...,2015,Chatom,(01) Alabama,36518,1,...,3.0,(1) Estimated by respondent,12.0,(1) Estimated by respondent,3.0,(1) Estimated by respondent,9.0,(1) Estimated by respondent,18.0,(1) Estimated by respondent
19,10956069,012002005061000000000,12002005,Baldwin County ...,City of Foley Police Department ...,2015,Foley,(01) Alabama,36535,1,...,6.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,1.0,(0) Reported,12.0,(0) Reported
20,10956074,012008007061000000000,12008007,"Calhoun County, Cherokee County ...",Piedmont Police Department ...,2015,Piedmont,(01) Alabama,36272,1,...,0.0,(0) Reported,15.0,(0) Reported,9.0,(0) Reported,6.0,(0) Reported,15.0,(0) Reported
21,10956088,012037001061000000000,12037001,Jefferson County ...,City of Adamsville Jail ...,2015,Adamsville,(01) Alabama,35005,1,...,1.0,(1) Estimated by respondent,0.0,(0) Reported,0.0,(0) Reported,0.0,(0) Reported,3.0,(0) Reported
22,10956093,012037009061000000000,12037009,Jefferson County ...,Fultondale Police Department ...,2015,Fultondale,(01) Alabama,35068,1,...,4.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,1.0,(0) Reported,6.0,(0) Reported
23,10956109,012048005061000000000,12048005,Marshall County ...,Guntersville Police Department ...,2015,Guntersville,(01) Alabama,35976,1,...,0.0,(1) Estimated by respondent,1.0,(1) Estimated by respondent,1.0,(0) Reported,0.0,(0) Reported,5.0,(0) Reported
24,10958902,012049601061000000000,12049601,Mobile County ...,Creola Police Department ...,2015,Creola,(01) Alabama,36525,1,...,4.0,(1) Estimated by respondent,0.0,(0) Reported,0.0,(0) Reported,0.0,(0) Reported,5.0,(1) Estimated by respondent
25,10956116,012051001061000000000,12051001,Montgomery County ...,Montgomery Municipal Jail ...,2015,Montgomery,(01) Alabama,36104,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10956144,031003003061000000000,31003003,Coconino County ...,Coconino County Sheriffs Office ...,2015,Flagstaff,(03) Arizona,86001,4,...,19.0,(0) Reported,36.0,(0) Reported,16.0,(0) Reported,20.0,(0) Reported,133.0,(0) Reported
27,10950161,031007007060000000700,31007007,Maricopa County ...,Maricopa County Sheriff's Office ...,2015,Phoenix,(03) Arizona,85003,4,...,556.0,(0) Reported,219.0,(0) Reported,78.0,(0) Reported,141.0,(0) Reported,2252.0,(0) Reported
28,10956148,031008008061000000000,31008008,Mohave County ...,Mohave County Sheriff's Office ...,2015,Kingman,(03) Arizona,86401,4,...,23.0,(0) Reported,26.0,(0) Reported,5.0,(0) Reported,21.0,(0) Reported,145.0,(0) Reported
29,10956149,031009009061000000000,31009009,Navajo County ...,Navajo County Sheriffs Office ...,2015,Holbrook,(03) Arizona,86025,4,...,7.0,(0) Reported,25.0,(0) Reported,3.0,(0) Reported,22.0,(0) Reported,74.0,(0) Reported
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,10958654,491020020062000000000,496020020,Kanawha County ...,South Central Regional Jail - West Virginia Re...,2015,Charleston,(49) West Virginia,25309,54,...,12.0,(0) Reported,33.0,(0) Reported,22.0,(0) Reported,11.0,(0) Reported,97.0,(0) Reported
882,10958655,491023023062000000000,496023023,Logan County ...,Southwestern Regional Jail - West Virginia Reg...,2015,Holden,(49) West Virginia,25625,54,...,14.0,(1) Estimated by respondent,15.0,(1) Estimated by respondent,5.0,(1) Estimated by respondent,10.0,(1) Estimated by respondent,107.0,(1) Estimated by respondent
883,10958657,491026026062000000000,496026026,Marshall County ...,Northern Regional Jail and Correction Facility...,2015,Moundsville,(49) West Virginia,26041,54,...,14.0,(0) Reported,12.0,(0) Reported,4.0,(0) Reported,8.0,(0) Reported,88.0,(0) Reported
884,10958658,491041041062000000000,496041041,Raleigh County ...,Southern Regional Jail - West Virginia Regiona...,2015,Beaver,(49) West Virginia,25813,54,...,17.0,(1) Estimated by respondent,24.0,(1) Estimated by respondent,14.0,(1) Estimated by respondent,10.0,(1) Estimated by respondent,123.0,(0) Reported
885,10958659,491042042062000000000,496042042,Barbour County ...,Tygart Valley Regional Jail - West Virginia Re...,2015,Belington,(49) West Virginia,26250,54,...,18.0,(1) Estimated by respondent,21.0,(1) Estimated by respondent,7.0,(1) Estimated by respondent,14.0,(1) Estimated by respondent,107.0,(1) Estimated by respondent
886,10958665,501005005061000000000,501005005,Brown County ...,Brown County Sheriffs Office ...,2015,Green Bay,(50) Wisconsin,54311,55,...,38.0,(0) Reported,20.0,(0) Reported,11.0,(0) Reported,9.0,(0) Reported,165.0,(0) Reported
887,10958667,501007007061000000000,501007007,Burnett County ...,Burnett County Sheriffs Office ...,2015,Siren,(50) Wisconsin,54872,55,...,6.0,(0) Reported,1.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,13.0,(0) Reported
888,10958670,501010010062000000000,501010010,Clark County ...,Clark County Sheriffs Department ...,2015,Neillsville,(50) Wisconsin,54456,55,...,10.0,(0) Reported,1.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,20.0,(0) Reported
889,10952880,501013013061000000000,501013013,Dane County ...,Dane County Sheriff's Office ...,2015,Madison,(50) Wisconsin,53703,55,...,49.0,(0) Reported,70.0,(0) Reported,21.0,(0) Reported,49.0,(0) Reported,257.0,(0) Reported
890,10958674,501015015061000000000,501015015,Door County ...,Door County Sheriffs Office ...,2015,Sturgeon Bay,(50) Wisconsin,54235,55,...,5.0,(0) Reported,10.0,(1) Estimated by respondent,7.0,(0) Reported,3.0,(0) Reported,33.0,(0) Reported
891,10958678,501020020061000000000,501020020,Fond du Lac County ...,Fond du Lac County Sheriffs Office ...,2015,Fond du Lac,(50) Wisconsin,54935,55,...,27.0,(1) Estimated by respondent,5.0,(0) Reported,2.0,(0) Reported,3.0,(0) Reported,60.0,(0) Reported
892,10958682,501024024061000000000,501024024,Green Lake County ...,Green Lake County Sheriffs Office ...,2015,Green Lake,(50) Wisconsin,54941,55,...,7.0,(0) Reported,14.0,(0) Reported,6.0,(0) Reported,8.0,(0) Reported,28.0,(0) Reported
893,10958686,501028028061000000000,501028028,Jefferson County ...,Jefferson County Sheriffs Office ...,2015,Jefferson,(50) Wisconsin,53549,55,...,9.0,(0) Reported,11.0,(0) Reported,5.0,(0) Reported,6.0,(0) Reported,39.0,(0) Reported
894,10958688,501030030061000000000,501030030,Kenosha County ...,Kenosha County Sheriffs Department ...,2015,Kenosha,(50) Wisconsin,53140,55,...,46.0,(0) Reported,59.0,(0) Reported,23.0,(0) Reported,36.0,(0) Reported,227.0,(0) Reported
895,10958694,501036036061000000000,501036036,Manitowoc County ...,Manitowoc County Sheriff's Office ...,2015,Manitowoc,(50) Wisconsin,54220,55,...,15.0,(0) Reported,14.0,(1) Estimated by respondent,4.0,(1) Estimated by respondent,10.0,(1) Estimated by respondent,52.0,(1) Estimated by respondent
896,10952906,501041041061000000000,501041041,"Milwaukee County, Washington County, Waukesha ...",Milwaukee County Sheriff's Office ...,2015,Milwaukee,(50) Wisconsin,53233,55,...,72.0,(0) Reported,52.0,(0) Reported,6.0,(0) Reported,46.0,(0) Reported,237.0,(0) Reported
897,10958895,501041041061000000001,501041041,"Milwaukee County, Washington County, Waukesha ...",Milwaukee County House of Correction ...,2015,Franklin,(50) Wisconsin,53132,55,...,118.0,(0) Reported,91.0,(0) Reported,59.0,(0) Reported,32.0,(0) Reported,353.0,(0) Reported
898,10958698,501042042061000000000,501042042,Monroe County ...,Monroe County Sheriff's Office ...,2015,Sparta,(50) Wisconsin,54656,55,...,9.0,(0) Reported,1.0,(0) Reported,1.0,(0) Reported,0.0,(0) Reported,22.0,(0) Reported
899,10958701,501045045061000000000,501045045,"Calumet County, Outagamie County, Winnebago Co...",Outagamie County Sheriffs Department ...,2015,Appleton,(50) Wisconsin,54911,55,...,23.0,(1) Estimated by respondent,30.0,(1) Estimated by respondent,15.0,(1) Estimated by respondent,15.0,(1) Estimated by respondent,108.0,(1) Estimated by respondent
900,10958708,501052052061000000000,501052052,Racine County ...,Racine County Sheriff's Office ...,2015,Racine,(50) Wisconsin,53403,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901,10958710,501054054061000000000,501054054,Rock County ...,Rock County Sheriffs Office ...,2015,Janesville,(50) Wisconsin,53545,55,...,27.0,(0) Reported,41.0,(0) Reported,27.0,(0) Reported,14.0,(0) Reported,122.0,(0) Reported
902,10958723,501067067062000000000,501067067,Washington County ...,Washington County Sheriffs Department ...,2015,West Bend,(50) Wisconsin,53095,55,...,21.0,(0) Reported,9.0,(0) Reported,8.0,(0) Reported,1.0,(0) Reported,63.0,(0) Reported
903,10958724,501068068060000016800,501068068,Waukesha County ...,Waukesha County Sheriff Department ...,2015,Waukesha,(50) Wisconsin,53188,55,...,38.0,(0) Reported,33.0,(0) Reported,11.0,(0) Reported,22.0,(0) Reported,147.0,(0) Reported
904,10958725,501069069061000000000,501069069,Waupaca County ...,Waupaca County Sheriff's Office ...,2015,Waupaca,(50) Wisconsin,54981,55,...,16.0,(1) Estimated by respondent,10.0,(1) Estimated by respondent,6.0,(1) Estimated by respondent,4.0,(1) Estimated by respondent,56.0,(1) Estimated by respondent
905,10958727,501071071062000000000,501071071,Winnebago County ...,Winnebago County Sheriffs Office ...,2015,Oshkosh,(50) Wisconsin,54901,55,...,22.0,(0) Reported,25.0,(0) Reported,7.0,(0) Reported,18.0,(0) Reported,102.0,(0) Reported
906,10958728,501072072061000000000,501072072,Wood County ...,Wood County Sheriffs Department ...,2015,Wisconsin Rapids,(50) Wisconsin,54495,55,...,11.0,(0) Reported,8.0,(0) Reported,2.0,(0) Reported,6.0,(0) Reported,31.0,(0) Reported
907,10958736,511009009061000000000,511009009,Hot Springs County ...,Hot Springs County Sheriffs Department ...,2015,Thermopolis,(51) Wyoming,82443,56,...,2.0,(0) Reported,7.0,(0) Reported,5.0,(0) Reported,2.0,(0) Reported,13.0,(0) Reported
908,10958738,511011011061000000000,511011011,Laramie County ...,Laramie County Sheriff's Department ...,2015,Cheyenne,(51) Wyoming,82001,56,...,13.0,(0) Reported,28.0,(0) Reported,7.0,(0) Reported,21.0,(0) Reported,99.0,(0) Reported
909,10958740,511013013062000000000,511013013,Natrona County ...,Natrona County Sheriffs Office ...,2015,Casper,(51) Wyoming,82601,56,...,5.0,(1) Estimated by respondent,18.0,(1) Estimated by respondent,10.0,(1) Estimated by respondent,8.0,(1) Estimated by respondent,37.0,(0) Reported
910,10958748,511021021061000000000,511021021,Uinta County ...,Uinta County Sheriff's Office ...,2015,Evanston,(51) Wyoming,82930,56,...,2.0,(0) Reported,3.0,(0) Reported,2.0,(0) Reported,1.0,(0) Reported,16.0,(0) Reported

#### Selecting a subset of the dataframe

In [272]:
jailDataSubset = jailDataRaw.loc[:,['YEAR','RTIID','NAME','CITY','STATE','STATEID','STATEABBR','ZIP','CNTYCODE','JUVF','JUVM','BLACK','HISP','WHITE','ASIAN','AIAN','NHOPI','OTHERRACE','TWORACE','RACEDK','NONCITZ','ADMIS','CONFPOP','RELEASE','RELEASEF','RELEASEM','CONV','FELONY','MISD','UNCONV','WEEKN']]
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATE', 'STATEID', 'STATEABBR', 'ZIP',
       'CNTYCODE', 'JUVF', 'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN',
       'NHOPI', 'OTHERRACE', 'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS',
       'CONFPOP', 'RELEASE', 'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD',
       'UNCONV', 'WEEKN'],
      dtype='object')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,YEAR,RTIID,NAME,CITY,STATE,STATEID,STATEABBR,ZIP,CNTYCODE,JUVF,...,ADMIS,CONFPOP,RELEASE,RELEASEF,RELEASEM,CONV,FELONY,MISD,UNCONV,WEEKN
0,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,(01) Alabama,NaN,NaN,36507,1003,0,...,7718,456,7834,2116,5718,49,187.0,269.0,407,NaN
1,2015,10956005,Bibb County Sheriffs Department ...,Brent,(01) Alabama,NaN,NaN,35034,1007,0,...,1224,85,1224,282,942,40,85.0,0.0,45,NaN
2,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,(01) Alabama,NaN,NaN,36264,1029,0,...,731,59,727,182,545,10,40.0,19.0,49,NaN
3,2015,10956023,Cullman County Sheriffs Office ...,Cullman,(01) Alabama,NaN,NaN,35055,1043,0,...,4418,325,4327,865,3462,210,141.0,95.0,115,5.0
4,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,(01) Alabama,NaN,NaN,35901,1055,0,...,6180,634,6270,653,5617,66,220.0,165.0,568,NaN

#### Adding columns to the dataframe to make it comptaible with prison dataframe.

In [273]:
jailDataSubset['REGION']='NA'
jailDataSubset['BLACKM']='NA'
jailDataSubset['BLACKF']='NA'
jailDataSubset['HISPM']='NA'
jailDataSubset['HISPF']='NA'
jailDataSubset['WHITEM']='NA'
jailDataSubset['WHITEF']='NA'
jailDataSubset['ASIANM']='NA'
jailDataSubset['ASIANF']='NA'
jailDataSubset['AIANM']='NA'
jailDataSubset['AIANF']='NA'
jailDataSubset['NHPIM']='NA'
jailDataSubset['NHPIF']='NA'
jailDataSubset['ADDRACEM']='NA'
jailDataSubset['ADDRACEF']='NA'
jailDataSubset['TWORACEM']='NA'
jailDataSubset['TWORACEF']='NA'
jailDataSubset['UNKRACEM']='NA'
jailDataSubset['UNKRACEF']='NA'
jailDataSubset['CUSCTZNM']='NA'
jailDataSubset['CUSCTZNF']='NA'
jailDataSubset['ADTOTM']='NA'
jailDataSubset['ADTOTF']='NA'
jailDataSubset['CUSTOTM']='NA'
jailDataSubset['CUSTOTF']='NA'
jailDataSubset['CUSUNSM']='NA'
jailDataSubset['CUSUNSF']='NA'
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATE', 'STATEID', 'STATEABBR', 'ZIP',
       'CNTYCODE', 'JUVF', 'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN',
       'NHOPI', 'OTHERRACE', 'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS',
       'CONFPOP', 'RELEASE', 'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD',
       'UNCONV', 'WEEKN', 'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF',
       'WHITEM', 'WHITEF', 'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM',
       'NHPIF', 'ADDRACEM', 'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM',
       'UNKRACEF', 'CUSCTZNM', 'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM',
       'CUSTOTF', 'CUSUNSM', 'CUSUNSF'],
      dtype='object')

,YEAR,RTIID,NAME,CITY,STATE,STATEID,STATEABBR,ZIP,CNTYCODE,JUVF,...,UNKRACEM,UNKRACEF,CUSCTZNM,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF
0,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,(01) Alabama,NaN,NaN,36507,1003,0,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2015,10956005,Bibb County Sheriffs Department ...,Brent,(01) Alabama,NaN,NaN,35034,1007,0,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,(01) Alabama,NaN,NaN,36264,1029,0,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,2015,10956023,Cullman County Sheriffs Office ...,Cullman,(01) Alabama,NaN,NaN,35055,1043,0,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,(01) Alabama,NaN,NaN,35901,1055,0,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

### Data Cleaning steps

The STATE column contains both the STATECODE which is numeric and the STATE name. We want to separate them into independent columns. This stepwill help us efficiently utilize this data later.

In [274]:
jailDataSubset['A'],jailDataSubset['B'] = jailDataSubset['STATE'].str.split(' ', 1).str
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATE', 'STATEID', 'STATEABBR', 'ZIP',
       'CNTYCODE', 'JUVF', 'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN',
       'NHOPI', 'OTHERRACE', 'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS',
       'CONFPOP', 'RELEASE', 'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD',
       'UNCONV', 'WEEKN', 'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF',
       'WHITEM', 'WHITEF', 'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM',
       'NHPIF', 'ADDRACEM', 'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM',
       'UNKRACEF', 'CUSCTZNM', 'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM',
       'CUSTOTF', 'CUSUNSM', 'CUSUNSF', 'A', 'B'],
      dtype='object')

,YEAR,RTIID,NAME,CITY,STATE,STATEID,STATEABBR,ZIP,CNTYCODE,JUVF,...,CUSCTZNM,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,A,B
0,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,(01) Alabama,NaN,NaN,36507,1003,0,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
1,2015,10956005,Bibb County Sheriffs Department ...,Brent,(01) Alabama,NaN,NaN,35034,1007,0,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
2,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,(01) Alabama,NaN,NaN,36264,1029,0,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
3,2015,10956023,Cullman County Sheriffs Office ...,Cullman,(01) Alabama,NaN,NaN,35055,1043,0,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
4,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,(01) Alabama,NaN,NaN,35901,1055,0,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama

#### Dropping the STATE and STATEID columns to make sure we can use the new columns A and B instead.

In [275]:
jailDataSubset = jailDataSubset.drop(columns=['STATEID','STATE'])
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATEABBR', 'ZIP', 'CNTYCODE', 'JUVF',
       'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN', 'NHOPI', 'OTHERRACE',
       'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS', 'CONFPOP', 'RELEASE',
       'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD', 'UNCONV', 'WEEKN',
       'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF', 'WHITEM', 'WHITEF',
       'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM', 'NHPIF', 'ADDRACEM',
       'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM', 'UNKRACEF', 'CUSCTZNM',
       'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM', 'CUSTOTF', 'CUSUNSM',
       'CUSUNSF', 'A', 'B'],
      dtype='object')

,YEAR,RTIID,NAME,CITY,STATEABBR,ZIP,CNTYCODE,JUVF,JUVM,BLACK,...,CUSCTZNM,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,A,B
0,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,NaN,36507,1003,0,0,53,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
1,2015,10956005,Bibb County Sheriffs Department ...,Brent,NaN,35034,1007,0,0,24,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
2,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,NaN,36264,1029,0,0,9,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
3,2015,10956023,Cullman County Sheriffs Office ...,Cullman,NaN,35055,1043,0,0,37,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama
4,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,NaN,35901,1055,0,2,150,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),Alabama

#### Rename A and B to STATEID and STATE respectively. Also convert the STATE column values to uppercase.

In [276]:
jailDataSubset = jailDataSubset.rename(columns= {'A':'STATEID', 'B':'STATE'})
jailDataSubset['STATE'] = jailDataSubset['STATE'].str.upper()
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATEABBR', 'ZIP', 'CNTYCODE', 'JUVF',
       'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN', 'NHOPI', 'OTHERRACE',
       'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS', 'CONFPOP', 'RELEASE',
       'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD', 'UNCONV', 'WEEKN',
       'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF', 'WHITEM', 'WHITEF',
       'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM', 'NHPIF', 'ADDRACEM',
       'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM', 'UNKRACEF', 'CUSCTZNM',
       'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM', 'CUSTOTF', 'CUSUNSM',
       'CUSUNSF', 'STATEID', 'STATE'],
      dtype='object')

,YEAR,RTIID,NAME,CITY,STATEABBR,ZIP,CNTYCODE,JUVF,JUVM,BLACK,...,CUSCTZNM,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,STATEID,STATE
0,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,NaN,36507,1003,0,0,53,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),ALABAMA
1,2015,10956005,Bibb County Sheriffs Department ...,Brent,NaN,35034,1007,0,0,24,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),ALABAMA
2,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,NaN,36264,1029,0,0,9,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),ALABAMA
3,2015,10956023,Cullman County Sheriffs Office ...,Cullman,NaN,35055,1043,0,0,37,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),ALABAMA
4,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,NaN,35901,1055,0,2,150,...,NA,NA,NA,NA,NA,NA,NA,NA,(01),ALABAMA

#### Removing the extra characters from STATEID column and converting it into integer values

In [277]:
jailDataSubset['STATEID'] = jailDataSubset['STATEID'].str.replace("(",'')
jailDataSubset['STATEID'] = jailDataSubset['STATEID'].str.replace(")",'')
jailDataSubset['STATEID'] = pd.to_numeric(jailDataSubset['STATEID'])
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATEABBR', 'ZIP', 'CNTYCODE', 'JUVF',
       'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN', 'NHOPI', 'OTHERRACE',
       'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS', 'CONFPOP', 'RELEASE',
       'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD', 'UNCONV', 'WEEKN',
       'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF', 'WHITEM', 'WHITEF',
       'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM', 'NHPIF', 'ADDRACEM',
       'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM', 'UNKRACEF', 'CUSCTZNM',
       'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM', 'CUSTOTF', 'CUSUNSM',
       'CUSUNSF', 'STATEID', 'STATE'],
      dtype='object')

,YEAR,RTIID,NAME,CITY,STATEABBR,ZIP,CNTYCODE,JUVF,JUVM,BLACK,...,CUSCTZNM,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,STATEID,STATE
0,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,NaN,36507,1003,0,0,53,...,NA,NA,NA,NA,NA,NA,NA,NA,1,ALABAMA
1,2015,10956005,Bibb County Sheriffs Department ...,Brent,NaN,35034,1007,0,0,24,...,NA,NA,NA,NA,NA,NA,NA,NA,1,ALABAMA
2,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,NaN,36264,1029,0,0,9,...,NA,NA,NA,NA,NA,NA,NA,NA,1,ALABAMA
3,2015,10956023,Cullman County Sheriffs Office ...,Cullman,NaN,35055,1043,0,0,37,...,NA,NA,NA,NA,NA,NA,NA,NA,1,ALABAMA
4,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,NaN,35901,1055,0,2,150,...,NA,NA,NA,NA,NA,NA,NA,NA,1,ALABAMA

#### In order to make the jail dataframe similar to prison dataframe, we need to add STATECODE column. We can do that using the population dataframe and joining it with the jail dataframe.

In [278]:
jailDataSubset = jailDataSubset.set_index('STATE').join(populationData.set_index('STATE'),lsuffix='_jail', rsuffix='_population')
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['YEAR', 'RTIID', 'NAME', 'CITY', 'STATEABBR', 'ZIP', 'CNTYCODE', 'JUVF',
       'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN', 'NHOPI', 'OTHERRACE',
       'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS', 'CONFPOP', 'RELEASE',
       'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD', 'UNCONV', 'WEEKN',
       'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF', 'WHITEM', 'WHITEF',
       'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM', 'NHPIF', 'ADDRACEM',
       'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM', 'UNKRACEF', 'CUSCTZNM',
       'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM', 'CUSTOTF', 'CUSUNSM',
       'CUSUNSF', 'STATEID', 'ID', 'STATECODE', 'TOTPOP'],
      dtype='object')

,YEAR,RTIID,NAME,CITY,STATEABBR,ZIP,CNTYCODE,JUVF,JUVM,BLACK,...,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,STATEID,ID,STATECODE,TOTPOP
STATE,,,,,,,,,,,,,,,,,,,,,
ALABAMA,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,NaN,36507,1003,0,0,53,...,NA,NA,NA,NA,NA,NA,1,0400000US01,AL,4858979
ALABAMA,2015,10956005,Bibb County Sheriffs Department ...,Brent,NaN,35034,1007,0,0,24,...,NA,NA,NA,NA,NA,NA,1,0400000US01,AL,4858979
ALABAMA,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,NaN,36264,1029,0,0,9,...,NA,NA,NA,NA,NA,NA,1,0400000US01,AL,4858979
ALABAMA,2015,10956023,Cullman County Sheriffs Office ...,Cullman,NaN,35055,1043,0,0,37,...,NA,NA,NA,NA,NA,NA,1,0400000US01,AL,4858979
ALABAMA,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,NaN,35901,1055,0,2,150,...,NA,NA,NA,NA,NA,NA,1,0400000US01,AL,4858979

#### Removing extra columns from the resulting dataframe and reindexing the dataframe. By reindexing, we change the index to the default numeric index. We need the STATE column so reindexing seems to be a logical choice.

In [279]:
jailDataSubset = jailDataSubset.drop(columns= ['STATEABBR','ID','TOTPOP'])
jailDataSubset = jailDataSubset.reset_index()
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['STATE', 'YEAR', 'RTIID', 'NAME', 'CITY', 'ZIP', 'CNTYCODE', 'JUVF',
       'JUVM', 'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN', 'NHOPI', 'OTHERRACE',
       'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS', 'CONFPOP', 'RELEASE',
       'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD', 'UNCONV', 'WEEKN',
       'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF', 'WHITEM', 'WHITEF',
       'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM', 'NHPIF', 'ADDRACEM',
       'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM', 'UNKRACEF', 'CUSCTZNM',
       'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM', 'CUSTOTF', 'CUSUNSM',
       'CUSUNSF', 'STATEID', 'STATECODE'],
      dtype='object')

,STATE,YEAR,RTIID,NAME,CITY,ZIP,CNTYCODE,JUVF,JUVM,BLACK,...,CUSCTZNM,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,STATEID,STATECODE
0,ALABAMA,2015,10956003,Baldwin County Sheriff's Office ...,Bay Minette,36507,1003,0,0,53,...,NA,NA,NA,NA,NA,NA,NA,NA,1,AL
1,ALABAMA,2015,10956005,Bibb County Sheriffs Department ...,Brent,35034,1007,0,0,24,...,NA,NA,NA,NA,NA,NA,NA,NA,1,AL
2,ALABAMA,2015,10956016,Cleburne County Sheriffs Office ...,Heflin,36264,1029,0,0,9,...,NA,NA,NA,NA,NA,NA,NA,NA,1,AL
3,ALABAMA,2015,10956023,Cullman County Sheriffs Office ...,Cullman,35055,1043,0,0,37,...,NA,NA,NA,NA,NA,NA,NA,NA,1,AL
4,ALABAMA,2015,10956029,Etowah County Sheriffs Office ...,Gadsden,35901,1055,0,2,150,...,NA,NA,NA,NA,NA,NA,NA,NA,1,AL

#### Cleaning the county name column using split and updating STATECODE column

In [280]:
jailDataSubset['A'],jailDataSubset['B'] = jailDataSubset['NAME'].str.split(' ', 1).str
jailDataSubset = jailDataSubset.drop(columns=['B','NAME'])
jailDataSubset = jailDataSubset.rename(columns={'A':'NAME'})
jailDataSubset['NAME'] = jailDataSubset['NAME'].str.upper()
imprisonment['NAME'] = imprisonment['NAME'].str.strip()
jailDataSubset = jailDataSubset.rename(columns={'STATECODE':'STATEABBR'})
print(jailDataSubset.columns)
jailDataSubset.head()

Index(['STATE', 'YEAR', 'RTIID', 'CITY', 'ZIP', 'CNTYCODE', 'JUVF', 'JUVM',
       'BLACK', 'HISP', 'WHITE', 'ASIAN', 'AIAN', 'NHOPI', 'OTHERRACE',
       'TWORACE', 'RACEDK', 'NONCITZ', 'ADMIS', 'CONFPOP', 'RELEASE',
       'RELEASEF', 'RELEASEM', 'CONV', 'FELONY', 'MISD', 'UNCONV', 'WEEKN',
       'REGION', 'BLACKM', 'BLACKF', 'HISPM', 'HISPF', 'WHITEM', 'WHITEF',
       'ASIANM', 'ASIANF', 'AIANM', 'AIANF', 'NHPIM', 'NHPIF', 'ADDRACEM',
       'ADDRACEF', 'TWORACEM', 'TWORACEF', 'UNKRACEM', 'UNKRACEF', 'CUSCTZNM',
       'CUSCTZNF', 'ADTOTM', 'ADTOTF', 'CUSTOTM', 'CUSTOTF', 'CUSUNSM',
       'CUSUNSF', 'STATEID', 'STATEABBR', 'NAME'],
      dtype='object')

,STATE,YEAR,RTIID,CITY,ZIP,CNTYCODE,JUVF,JUVM,BLACK,HISP,...,CUSCTZNF,ADTOTM,ADTOTF,CUSTOTM,CUSTOTF,CUSUNSM,CUSUNSF,STATEID,STATEABBR,NAME
0,ALABAMA,2015,10956003,Bay Minette,36507,1003,0,0,53,67,...,NA,NA,NA,NA,NA,NA,NA,1,AL,BALDWIN
1,ALABAMA,2015,10956005,Brent,35034,1007,0,0,24,0,...,NA,NA,NA,NA,NA,NA,NA,1,AL,BIBB
2,ALABAMA,2015,10956016,Heflin,36264,1029,0,0,9,2,...,NA,NA,NA,NA,NA,NA,NA,1,AL,CLEBURNE
3,ALABAMA,2015,10956023,Cullman,35055,1043,0,0,37,19,...,NA,NA,NA,NA,NA,NA,NA,1,AL,CULLMAN
4,ALABAMA,2015,10956029,Gadsden,35901,1055,0,2,150,80,...,NA,NA,NA,NA,NA,NA,NA,1,AL,ETOWAH

## Appending the jail dataset and prison dataset

Before we append the two dataframes, we add an identification column based on the type of data

In [285]:
jailDataSubset['CODE'] = 'JAIL'
prisonDataSubset['CODE'] = 'PRISON'

In [329]:
imprisonment = prisonDataSubset.append(jailDataSubset, sort=False)
print(imprisonment.columns)
imprisonment.head()

Index(['YEAR', 'STATEABBR', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM',
       'CONV', 'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP',
       'CNTYCODE', 'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'STATE', 'CODE'],
      dtype='object')

,YEAR,STATEABBR,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATE,CODE
0,1978,AK,2,4,-1,-1,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
1,1979,AK,2,4,-1,-1,NaN,81,7,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
2,1980,AK,2,4,-1,-1,NaN,89,5,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
3,1981,AK,2,4,-1,-1,NaN,126,13,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
4,1982,AK,2,4,-1,-1,NaN,91,3,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON

## Cleaning the data from the dataframe

We notice there are a lot of negative and garbage values in the columns. We can clean them up and insert zeros in place of negative numbers.

In [330]:
for column in imprisonment:
    imprisonment.loc[(imprisonment[column] == -2) | (imprisonment[column] == -1) | (imprisonment[column] == -8) | (imprisonment[column] == -9), column] = 0

In [331]:
print(imprisonment.columns)
imprisonment.head()

Index(['YEAR', 'STATEABBR', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM',
       'CONV', 'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP',
       'CNTYCODE', 'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'STATE', 'CODE'],
      dtype='object')

,YEAR,STATEABBR,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATE,CODE
0,1978,AK,2,4,0,0,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
1,1979,AK,2,4,0,0,NaN,81,7,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
2,1980,AK,2,4,0,0,NaN,89,5,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
3,1981,AK,2,4,0,0,NaN,126,13,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
4,1982,AK,2,4,0,0,NaN,91,3,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON

## Performing basic operations on the data

We can make simple calculations like summation of different column values to get a third value

In [332]:
imprisonment.loc[imprisonment['CODE'] == 'PRISON',['CONFPOP']] = imprisonment.loc[imprisonment['CODE'] == 'PRISON','CUSTOTM']  + imprisonment.loc[imprisonment['CODE'] == 'PRISON','CUSTOTF']

In [398]:
imprisonment.loc[imprisonment['CODE'] == 'PRISON',['CONFPOP','CUSTOTM','CUSTOTF','CODE']]

      CONFPOP CUSTOTM CUSTOTF    CODE
0         0.0       0       0  PRISON
1         0.0       0       0  PRISON
2         0.0       0       0  PRISON
3         0.0       0       0  PRISON
4         0.0       0       0  PRISON
5      1350.0    1284      66  PRISON
6      1698.0    1627      71  PRISON
7      1929.0    1826     103  PRISON
8      2447.0    2344     103  PRISON
9      2118.0    2022      96  PRISON
10     2307.0    2200     107  PRISON
11     2484.0    2344     140  PRISON
12     2362.0    2255     107  PRISON
13     2483.0    2369     114  PRISON
14     2498.0    2386     112  PRISON
15     2703.0    2581     122  PRISON
16     2745.0    2589     156  PRISON
17     2832.0    2652     180  PRISON
18     2968.0    2781     187  PRISON
19     3204.0    2993     211  PRISON
20     2601.0    2390     211  PRISON
21     2529.0    2304     225  PRISON
22     2757.0    2525     232  PRISON
23     3033.0    2741     292  PRISON
24     2991.0    2726     265  PRISON
25     3086.0    2775     311  PRISON
26     3142.0    2833     309  PRISON
27     3433.0    3055     378  PRISON
28     3371.0    2968     403  PRISON
29     3627.0    3162     465  PRISON
...       ...     ...     ...     ...
2022    852.0     810      42  PRISON
2023    916.0     870      46  PRISON
2024    945.0     880      65  PRISON
2025   1026.0     943      83  PRISON
2026   1110.0    1022      88  PRISON
2027   1099.0    1042      57  PRISON
2028   1064.0    1000      64  PRISON
2029   1102.0    1036      66  PRISON
2030   1065.0     992      73  PRISON
2031   1250.0    1160      90  PRISON
2032   1327.0    1233      94  PRISON
2033   1418.0    1287     131  PRISON
2034   1432.0    1313     119  PRISON
2035   1258.0    1168      90  PRISON
2036   1267.0    1187      80  PRISON
2037   1021.0     929      92  PRISON
2038   1114.0    1023      91  PRISON
2039   1137.0    1033     104  PRISON
2040   1209.0    1071     138  PRISON
2041   1250.0    1134     116  PRISON
2042   1252.0    1081     171  PRISON
2043   1297.0    1089     208  PRISON
2044   1277.0    1094     183  PRISON
2045   1516.0    1327     189  PRISON
2046   1875.0    1671     204  PRISON
2047   1917.0    1688     229  PRISON
2048   1951.0    1729     222  PRISON
2049   2036.0    1791     245  PRISON
2050   2114.0    1861     253  PRISON
2051   2133.0    1888     245  PRISON

[2052 rows x 4 columns]

# Simple practice exercise
* Load the file named Testing.csv into a dataframe called "practice" present in the testing folder under LoveDataWeekFiles
* Extract just the first name of the county from the column County
* Perform a join with Population dataframe to get the StateAbbr and StateId values
* Rename the column TOTPOP to TotalPopulation of the state
* Create a new column called StateCounty by concatenating the County first name and the State name

# Joining Imprisonment and Slavery dataframes

In [400]:
print(imprisonment.columns)
imprisonment.head()

Index(['YEAR', 'STATEABBR', 'STATEID', 'REGION', 'JUVF', 'JUVM', 'BLACK',
       'BLACKM', 'BLACKF', 'HISP', 'HISPM', 'HISPF', 'WHITE', 'WHITEM',
       'WHITEF', 'ASIAN', 'ASIANM', 'ASIANF', 'AIAN', 'AIANM', 'AIANF',
       'NHOPI', 'NHPIM', 'NHPIF', 'OTHERRACE', 'ADDRACEM', 'ADDRACEF',
       'TWORACE', 'TWORACEM', 'TWORACEF', 'RACEDK', 'UNKRACEM', 'UNKRACEF',
       'NONCITZ', 'CUSCTZNM', 'CUSCTZNF', 'ADMIS', 'ADTOTM', 'ADTOTF',
       'CONFPOP', 'CUSTOTM', 'CUSTOTF', 'RELEASE', 'RELEASEF', 'RELEASEM',
       'CONV', 'CUSUNSM', 'CUSUNSF', 'RTIID', 'NAME', 'CITY', 'ZIP',
       'CNTYCODE', 'FELONY', 'MISD', 'UNCONV', 'WEEKN', 'STATE', 'CODE'],
      dtype='object')

,YEAR,STATEABBR,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,HISP,...,NAME,CITY,ZIP,CNTYCODE,FELONY,MISD,UNCONV,WEEKN,STATE,CODE
0,1978,AK,2,4,0,0,NaN,176,9,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
1,1979,AK,2,4,0,0,NaN,81,7,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
2,1980,AK,2,4,0,0,NaN,89,5,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
3,1981,AK,2,4,0,0,NaN,126,13,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON
4,1982,AK,2,4,0,0,NaN,91,3,NaN,...,NA,NA,NA,NA,NA,NA,NA,NA,ALASKA,PRISON

In [409]:
print(slaveryRaw.columns)
slaveryRaw.head()

Index(['CountyState', 'Year', 'StateCode', 'NameStateCounty', 'CountyID',
       'WhiteMales', 'WhiteFemales', 'AggrWhites', 'FreeColoredMales',
       'FreeColoredFemales', 'AggrColored', 'MaleSlaves', 'FemaleSlaves',
       'AggrSlaves', 'OneSlave', 'TwoSlaves', 'ThreeSlaves', 'FourSlaves',
       'FiveSlaves', 'SixSlaves', 'SevenSlaves', 'EigthSlaves', 'NineSlaves',
       'TenFourSlaves', 'FifteenNineSlaves', 'TwentyNineSlaves',
       'ThirtyNineSlaves', 'FortyNineSlaves', 'FiftySixNineSlaves',
       'SeventyNineSlaves', 'OneHundSlaves', 'TwoHundSlaves',
       'ThreeHundSlaves', 'OneThouSlaves', 'GreaterSlaves',
       'TotalSlaveholders', 'TotalSlaves', 'Families', 'TotalFree'],
      dtype='object')

,CountyState,Year,StateCode,NameStateCounty,CountyID,WhiteMales,WhiteFemales,AggrWhites,FreeColoredMales,FreeColoredFemales,...,SeventyNineSlaves,OneHundSlaves,TwoHundSlaves,ThreeHundSlaves,OneThouSlaves,GreaterSlaves,TotalSlaveholders,TotalSlaves,Families,TotalFree
0,S,860,1,CONNECTICUT,0,221851,229653,451504,4136,4491,...,0,0,0,0,0,0,0,0,94831,460147
1,C,860,1,FAIRFIELD,10,36614,39186,75800,790,886,...,0,0,0,0,0,0,0,0,16102,77476
2,C,860,1,HARTFORD,30,43766,44877,88643,671,648,...,0,0,0,0,0,0,0,0,17927,89962
3,C,860,1,LITCHFIELD,50,23001,23206,46207,577,534,...,0,0,0,0,0,0,0,0,9701,47318
4,C,860,1,MIDDLESEX,70,14771,15751,30522,153,184,...,0,0,0,0,0,0,0,0,7068,30859

In [420]:
final = imprisonment.set_index('NAME').join(slaveryRaw.set_index('NameStateCounty'),lsuffix='_imprison', rsuffix='_slavery', how='right')
final = final.reset_index()
final = final.rename(columns = {'index':'COUNTY'})
final.head()

,index,YEAR,STATEABBR,STATEID,REGION,JUVF,JUVM,BLACK,BLACKM,BLACKF,...,SeventyNineSlaves,OneHundSlaves,TwoHundSlaves,ThreeHundSlaves,OneThouSlaves,GreaterSlaves,TotalSlaveholders,TotalSlaves,Families,TotalFree
0,ABBEVILLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20,9,0,0,0,0,1467,20502,2244,11883
1,ACCOMACK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,773,4507,2892,14079
2,ADAIR,2015.0,KY,18.0,NA,0.0,0.0,20.0,NA,NA,...,0,0,0,0,0,0,0,0,188,984
3,ADAIR,2015.0,KY,18.0,NA,0.0,0.0,20.0,NA,NA,...,0,0,0,0,0,0,33,86,1475,8445
4,ADAIR,2015.0,KY,18.0,NA,0.0,0.0,20.0,NA,NA,...,0,0,0,0,0,0,331,1602,1382,7907

In [435]:
final.to_csv('ImprisonSlaveryCombined.csv')